<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509410210521-ipcftt5n2vsth9s3gg7dhgl2iob8t6pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509410210521-ipcftt5n2vsth9s3gg7dhgl2iob8t6pd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>509410210521-ppmqhp68esi3b2s24l790j8f2lqjbhl1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqTwriElTqp6BA39rU5lj1CbkMMgAenAY</string>
	<key>GCM_SENDER_ID</key>
	<string>509410210521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFirebaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-c2ed5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-c2ed5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509410210521:ios:57744949babda01bd684c8</string>
</dict>
</plist>